rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /reviews/{document} {
      allow read: if true;
      allow create: if request.resource.data.keys().hasAll(['id', 'bookId', 'text', 'createdAt', 'name', 'approved'])
                     && request.resource.data.text is string
                     && request.resource.data.text.size() < 500
                     && request.resource.data.name is string
                     && request.resource.data.name.size() < 20
                     && request.resource.data.bookId is number
                     && request.resource.data.id is number
                     && request.resource.data.approved == true;
      allow update, delete: if false;
    }
    match /messages/{document} {
      allow read: if true;
      allow create: if request.resource.data.keys().hasAll(['id', 'text'])
                     && request.resource.data.text is string
                     && request.resource.data.text.size() < 500
                     && request.resource.data.name is string
                     && request.resource.data.name.size() < 20;
      allow update, delete: if false;
    }
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
